USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 2016-11-20 19:16:23 ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TestDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TestDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[clients_tb]    Script Date: 2016-11-20 19:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clients_tb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](50) NOT NULL,
	[lname] [varchar](50) NOT NULL,
	[adress] [varchar](100) NULL,
	[pesel] [bigint] NOT NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[getAllData]    Script Date: 2016-11-20 19:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getAllData]
AS
DECLARE @string VARCHAR(8000);
DECLARE @xml XML;

SET @xml = (SELECT id as "@id", id as cell0, fname as cell1, lname as cell2, adress as cell3, pesel as cell4
			FROM clients_tb
			FOR XML PATH, ROOT ('rows'));

SET @string = CONVERT (varchar(8000), @xml);
SELECT @string;

GO
/****** Object:  StoredProcedure [dbo].[updateData]    Script Date: 2016-11-20 19:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateData] 
		@id int, @fname varchar(50), @lname varchar(50), @adress varchar(100), @pesel bigint
AS
BEGIN
	UPDATE clients_tb
	SET 
		fname = @fname,
		lname = @lname,
		adress = @adress,
		pesel = @pesel
	WHERE
		id = @id
END

GO
USE [master]
GO
